In [20]:
import pandas as pd
import numpy as np
from scipy.stats import iqr, kurtosis, skew, zscore

In [2]:
df = pd.read_csv("sales_train.csv")
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00             1
1  03.01.2013               0       25     2552      899.00             1
2  05.01.2013               0       25     2552      899.00            -1
3  06.01.2013               0       25     2554     1709.05             1
4  15.01.2013               0       25     2555     1099.00             1

In [3]:
# 5 number summary
df.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06
mean     4.472810e+00  3.245368e+01  1.024260e+04  6.823654e+02  1.220174e+00
std      2.967065e+00  1.625856e+01  6.305360e+03  1.124829e+03  1.600203e+00
min      0.000000e+00  0.000000e+00  1.200000e+01 -1.000000e+00 -6.000000e+00
25%      2.000000e+00  2.200000e+01  4.548000e+03  1.990000e+02  1.000000e+00
50%      4.000000e+00  3.000000e+01  9.691000e+03  3.990000e+02  1.000000e+00
75%      7.000000e+00  4.700000e+01  1.561875e+04  6.993000e+02  1.000000e+00
max      1.000000e+01  5.900000e+01  2.216800e+04  5.920000e+04  2.880000e+02

In [5]:
# Range
np.ptp(df['item_price'])

59201.0

In [8]:
# IQR
iqr(df['item_price'])

500.29999999999995

In [10]:
# Standard Deciation
df['item_price'].std()

1124.8290082526817

In [13]:
# Kurtosis
print(f"Pearson's Kurtosis: {kurtosis(df['item_price'], fisher=False)}")
print(f"Fisher's Kurtosis: {kurtosis(df['item_price'], fisher=True)}")

Pearson's Kurtosis: 92.66216201619402
Fisher's Kurtosis: 89.66216201619402

In [15]:
# Skewness
skew(df['item_price'])

7.754518597379134

In [18]:
# Percentile
np.percentile(df['item_price'], 75)

699.3

In [25]:
# Z-score
z_df = pd.DataFrame(zscore(df['item_price']))
z_df

         item_price
0          0.281496
1          0.192593
2          0.192593
3          0.912748
4          0.370398
...             ...
1043241   -0.429724
1043242   -0.429724
1043243   -0.429724
1043244   -0.518626
1043245   -0.429724

[1043246 rows x 1 columns]

In [29]:
# z-score using sklearn
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss = ss.fit_transform(df['item_price'].values.reshape(-1, 1))
pd.DataFrame(ss, columns=["Item Price Z-score"])

         Item Price Z-score
0                  0.281496
1                  0.192593
2                  0.192593
3                  0.912748
4                  0.370398
...                     ...
1043241           -0.429724
1043242           -0.429724
1043243           -0.429724
1043244           -0.518626
1043245           -0.429724

[1043246 rows x 1 columns]