## Modules

In [45]:
import pandas as pd
import numpy as np
import statistics as st

## Creating a Dataframe

In [10]:
df = pd.DataFrame({"John": [98, 87, 76, 88, 98],
                  "Adam": [88, 52, 69, 69, 82],
                  "David": [90, 92, 71, 60, 64]})
df

   John  Adam  David
0    98    88     90
1    87    52     92
2    76    69     71
3    88    69     60
4    98    82     64

## Measures of Central Tendency

### Mean

In [35]:
df.mean(axis=0) # calculates the mean for each column

John     89.4
Adam     72.0
David    75.4
dtype: float64

### Median

In [36]:
df.median(axis=0) # calculates the median for each column

John     88.0
Adam     69.0
David    71.0
dtype: float64

### Mode

In [38]:
df.mode(axis=0) # calculates the mode for each column

   John  Adam  David
0  98.0  69.0     60
1   NaN   NaN     64
2   NaN   NaN     71
3   NaN   NaN     90
4   NaN   NaN     92

## Measures of Dispersion

### Variance

In [41]:
print(df.var()) # returns the variance of the sample dataset
# Using the formula to calculate the sample variance of John;
# ( (df["John"] - df["John"].mean()**2).sum() ) / ( len(df["John"]) - 1)

print()

print(df.var(ddof=0)) # returns the variance of the population dataset, ddof -> degrees of freedom
# Using the formula to calculate the population variance of John;
# ( (df["John"] - df["John"].mean()**2).sum() ) / len(df["John"])

John      83.8
Adam     193.5
David    218.8
dtype: float64

John      67.04
Adam     154.80
David    175.04
dtype: float64

### Standard Deviation

In [44]:
print(df.std()) # standard deviation for sample dataset
# Using the formula to calculate sample standard deviation of John
# np.sqrt(( (df["John"] - df["John"].mean()**2).sum() ) / ( len(df["John"]) - 1))

print()

print(df.std(ddof=0)) # standard deviation for population dataset
# Using the formula to calculate population standard deviation of John
# np.sqrt(( (df["John"] - df["John"].mean()**2).sum() ) / len(df["John"]) )

John      9.154234
Adam     13.910428
David    14.791890
dtype: float64

John      8.187796
Adam     12.441865
David    13.230268
dtype: float64

## Using statistics library to calculate descriptive statistics

In [60]:
num = [7, 2, 3, 1, 5, 6, 7 ,8, 9]

st.mean(num) # mean
st.median(num) # median
st.mode(num) # mode
st.variance(num) # variance
np.sqrt(st.variance(num)) # standard deviation

2.7838821814150108